/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
  }
  
  .navbar-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-icons a {
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
  }
  
  .navbar-icons a:hover {
    color: #ff69b4; /* Pink hover */
  }